*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-wendt-stir-certificate-transparency.xml
package-lock.json
report.xml
!requirements.txt
build.sh
draft-wendt-stir-certificate-transparency-00.*
draft-wendt-stir-certificate-transparency-01.*
draft-wendt-stir-certificate-transparency-02.*
draft-wendt-stir-certificate-transparency-03.*
draft-wendt-stir-certificate-transparency-04.*
draft-wendt-stir-certificate-transparency-05.*
draft-wendt-stir-certificate-transparency-06.*
draft-wendt-stir-certificate-transparency-07.*
